h1 {
    font-size: 28px;
    margin-top: 60px;
}
.heading {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.texttask2 {
    font-size: 16px;
    line-height: 1.7;
}
.imgtask2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.oltask2 {
    line-height: 1.7;
}
.ultask2 {
    line-height: 1.7;
}
.importants {
    border-left: 6px solid #d42861;
    color: #2c2729;
    padding: 30px 50px;
    font-size: 20px;
    line-height: 1.8;
    margin-top: 40px;
}